

body{
    background-color:rgb(0, 0,33);
    color: white;
    
}
*{
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color:rgb(9, 9, 74) ;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
    /* list-style: none; */
    text-decoration: none;
    color:white;
nav ul li a:hover {
    color: aquamarine;
    font-size: 1.04rem;
}
}
.left{
    font-size: 1.5rem;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
    font-family: 'Edu NSW ACT Foundation', cursive;

font-family: 'Roboto', sans-serif;

}
.firstsection > div{
    width: 30%;
}
.leftsection{
   
    font-size: 3rem;
    
}
.rightsection img{
    
    width: 80%;
    margin: 100px 0;
}
.purple{
    font-size: 3rem;
    color: rgb(170, 107, 228);
}
#element{
    color: rgb(170, 107, 228);

}
body {
    margin: 0;
    padding: 0;
  }
  
  /* Adjust the footer styles as per your design */
  footer {
   
        background-color:rgb(17, 18, 60);
        color: #fff;
        padding: 20px;
      
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
  }
  
  .footer-section {
    /* flex: 1 0 30%; */
    flex: 1 0 ; /* Each section takes equal width */
    margin: 10px; /* Add some space between sections */
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-icons {
    display: flex;
    /* flex-direction: column; */
  }
  
  .social-icons a {
    color: #fff;
    margin-right: 15px;
    margin-bottom: 5px;
  }
  
  .footer-bottom {
    /* margin-top: 10px; */
    text-align: center;
    margin: 0;
  }
  .footer-buttons {
    display: flex;
    flex-direction: column;
  }
  
  .footer-buttons a {
    margin-bottom: 10px;
  }
  .footer-section button:hover {
    cursor: pointer;
    background-color: #f0f0f0;
  }
  .footer-section button {
    background-color: #1556de;
    color: #e6dede;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  /* Add any additional styling as needed */
  footer {
    
    background-color: rgb(17, 18, 60);
    color: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 10px;
    padding-right: 70px;
    /* padding: 70px; */
  }
.footer-bottom {
    text-align: center; /* Center the content */
  }
  
  .footer-bottom p {
    margin: 0;
  }
  

